@tailwind base;
@tailwind components;
@tailwind utilities;

.changing-text {
  @apply text-primary;
}

.changing-text::after {
  content: "Discover";
  animation: change 6s linear infinite alternate;
}

@keyframes change {
  0% {
    content: "Discover";
  }

  33% {
    content: "Share";
  }

  66% {
    content: "Create";
  }
}

.fade-in {
  animation: fadeInScale 0.4s ease-in-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    scale: 0.95;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
